a:link, a:visited {
  background-color: #eb89ca;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(236, 144, 198);
}
